/*These styling only apply to elements on the main page*/

.indexMain{
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.pageheader{
    max-width: 60vw;
}

.rates{
    font-size:2em;
    font-weight: '900';
}

.buttonElem{
    cursor:pointer;
    color:white;
    text-decoration:none;
}

.buttonElem:visited{
    color:white;
}

/* mobile */
@media screen and (max-width:600px){
.pageheader{
    max-width: 90vw;
}
}