{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- SEO meta tags -->
    <meta name="description" content="Enter a concise and keyword-rich description of your website or page content.">
    <meta name="keywords" content="your, relevant, keywords, separated, by, commas">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Your Name or Company">

    <!-- Open Graph Tags for Social Sharing -->
    <meta property="og:title" content="YUAN BOS">
    <meta property="og:description"
        content="Looking to buy Yuan or sell Yuan? Get the best Yuan exchange rate and easily convert Yuan to dollars or Yuan to Euro with our platform. We offer real-time CNY exchange rates, insights into the Chinese currency market, and top Yuan trading platforms. Whether you’re using a forex broker or need Chinese currency exchange rates, we provide competitive prices with low Yuan buying and selling fees. Start trading CNY today!">
    <meta property="og:image" content="{% static 'images/loading.jpeg' %}">
    <meta property="og:url" content="https://yuanbuyandsell.com/">
    <meta property="og:type" content="website">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="YUAN BOS">
    <meta name="twitter:description"
        content="Looking to buy Yuan or sell Yuan? Get the best Yuan exchange rate and easily convert Yuan to dollars or Yuan to Euro with our platform. We offer real-time CNY exchange rates, insights into the Chinese currency market, and top Yuan trading platforms.">
    <meta name="twitter:image" content="{% static 'images/loading.jpeg' %}">

    <!-- Title of the Page -->
    <title>Yuan BOS</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

    <!-- Canonical URL to prevent duplicate content issues -->
    <link rel="canonical" href="https://yuanbuyandsell.com/">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css
     ">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Structured Data (JSON-LD) for Rich Snippets -->
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "Yuan BOS",
        "description": "BOS Yuan at live CNY rates safely.",
        "url": "https://yuanbuyandsell.com/"
    }
    </script>
</head>

<body>


    <div id="mainBody">

        <main>
            <article style="position: relative; z-index: 3;background-color: white;">
                <!--Boot strap nav bar-->
                <nav class="navbar navbar-dark bg-dark fixed-top">
                    <div class="container-fluid">
                        <a class="loadTimeLink navbar-brand" href="{% url 'base:index' %}">
                            <div style="display: flex;">
                                <img src="{% static 'images/logo.png' %}" alt="" id="logo">
                                <span
                                    style="align-self: last baseline; font-family: Helvetica, Futura, Arial,  sans-serif;">
                                    YUAN BOS
                                </span>

                            </div>
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                            aria-labelledby="offcanvasDarkNavbarLabel">
                            <div class="offcanvas-header">
                                <h1 class="offcanvas-title" id="offcanvasDarkNavbarLabel">BUY OR SELL YUAN</h1>
                                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body" style="overflow-y: hidden;">
                                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                    <li class="nav-item">
                                        <a class="loadTimeLink nav-link active loadTimeLink" aria-current="page"
                                            href="{% url 'base:index' %}">HOME</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="loadTimeLink nav-link" href="#">HOW TO?</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            TRANSACT
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark">
                                            <li><a class="loadTimeLink dropdown-item ybosButton" href="{% url 'base:transactYuan' 'buy' %}">
                                                    BUY YUAN
                                                </a></li>
                                            <li><a class="loadTimeLink dropdown-item ybosButton orange" href="{% url 'base:transactYuan' 'sell' %}">SELL
                                                    YUAN</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="loadTimeLink dropdown-item" href="#">HISTORY</a></li>
                                        </ul>
                                    </li>
                                </ul>

{% if request.user.is_authenticated %}
<!--Display profile and logoit button side by side-->
<div style="display:flex; justify-content:space-around">
            <div style="font-size:xx-large; color:white; background-color:#E5C268; width:fit-content; padding:2%; border-radius:25%; cursor:pointer;">
                &nbsp;{{request.user.username | slice:":1" | capfirst}}&nbsp;
            </div>

            <!--Pin button down of flex end-->
            <div style="display:flex; align-items:flex-end;">
                <div>
                    <!--Bootstrap classes-->
                    <a href="{% url 'base:logoutRequest' %}" class="btn btn-danger">
                        Log out
                    </a>
                </div>
            </div>
</div>

{% else %}
                                <div>

                                    <!--Log in and sign in button-->
                                    <div style="display: flex; justify-content: space-evenly;">
                                        <a class="buttonElem" style="background-color: green;" href="{% url 'base:loginRequest' %}">
                                            Log In
                                        </a>
                                        <a class="buttonElem" style="background-color: orange;" href="{% url 'base:ybosSignIn' %}">
                                            Sign Up
                                        </a>
                                    </div>
                                    <br>
                                    <div class="center horizontal">
                                        <button type="button" class="btn btn-info" onclick="callAuth()">Other sign in methods</button>
                                    </div>

                                    <div id ="authCont" style="position:relative; top:100vh">
                                        <div>
                                            <b>
                                                <p>
                                                    SIGN IN WITH GOOGLE INSTEAD?
                                                </p>
                                            </b>
                                            <div>
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <b>
                                                            <a href="{% url 'base:signIn' 'google' %}">
                                                                GOOGLE
                                                            </a>
                                                        </b>
                                                    </li>
                                                 
                                                </ul>
                                            </div>
                        
                                        </div>

                                    </div>

                                </div>
{% endif %}


                            </div>
                        </div>
                    </div>
                </nav>
                <br> <br> <br>
                {% block content %}

                {% endblock %}
            </article>
        </main>

        <footer class="baseFooter">
            <p>&copy; 2025 YUAN BOS. All Rights Reserved.</p>
            <br>
        </footer>
    </div>

    <!--Loading screen-->
    <div id="loadingScreen">
        <img src="{% static 'images/logo.png' %}" alt="" id="loading">
    </div>
    <!-- Scripts -->
    <script src="{% static 'js/base.js' %}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js
    "></script>
</body>





</html>