{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/transact.css' %}" />
<div>
    <div style="display:none" id="tId">{{transaction.transactionId}}</div>
    <!--HEad-->
    <div class="center horizontally">
        <h1>
            {% if transaction.isBuy %}Buying{% else %}Selling{%endif%} ${{transaction.amount}} yuan.
        </h1>
    </div>

    {% if not transaction.completed %}
    <div class="btn btn-warning">
        <a href="{% url 'base:endChat' %}" class="buttonElem">End Transaction</a>
    </div>
    {%endif%}

    <!--Messages and new message box-->

    <div>
        <!--Messages-->
        <div id="messagesContainer">
            {% for message in messages %}
            {% if message.fromUser %}
                <div class="fromUser newMessageDiv">
            {% else %}
                <div class="newMessageDiv">
            {% endif %}
                    {% if message.image %}
                    <img src="{{message.image}}" class="newMsgImg" />
                    {% endif %}
                    <p class="newMsgTxt">
                        {{message.text}}
                    </p>
                </div>
                {% endfor %}
        </div>

        <!--new message-->
        <div>
            {% if transaction.completed %}
            <!--Completed transaction message-->
            <div class="center horizontally">
                <b>
                    This transaction has ended.
                </b>
            </div>
            {% else %}
            <div id="newMessage">
                <div style="width:95vw;">
                    <!--Contents-->
                    <div style="width:100%;">
                        <div
                            style="width:100%; border-radius:100vw; padding:1vw; display:grid; grid-template-columns: 14% 44% 14% 14%; gap:1%; justify-content:space-around;">
                            <div class="messageBoxGrid">
                                <label for="imageToSend">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-paperclip" viewBox="0 0 16 16">
                                        <path
                                            d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z" />
                                    </svg>
                                    <img src="" id="selectedImg" />
                                </label>
                                <input type="file" accept="image/*" hidden id="imageToSend" onchange="doStuff()">
                            </div>
                            <div class="messageBoxGrid">
                                <input placeholder="Type your message..."
                                    style="width:100%; background:none; outline:none; border:none;" id="textBox" />
                            </div>
                            <div class="messageBoxGrid">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-emoji-smile" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                    <path
                                        d="M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5m4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5" />
                                </svg>
                            </div>
                            <div class="messageBoxGrid" onclick="sendMessage()">
                                <div style="padding:5% 10%; background-color:#E5C268; border-radius:50vw">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-send" viewBox="0 0 16 16">
                                        <path
                                            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        <script src="{% static 'js/buy.js' %}">

        </script>
        <script src="{% static 'js/socket.js' %}">

        </script>

    </div>

    {% endblock %}