{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href ="{% static 'css/reg.css' %}" />
<!--Main div, set position to relative to allow overlap against clciker animation extended from base.html-->
<!--High x index to allow it in front, min height to always make sure clicker animation is covered-->
<div style="position:relative; z-index:3; min-height:100vh;">
    <br><br><br>
    <!--Login container-->
    <div>
        <!--Login-->
        <div>
            <h1 style="text-align:center;">
                Welcome back
            </h1>
            {% if err %}
            <p style="color:red; text-align:center;"> 
                {{err}}
            </p>
            {% endif %}
            <div style="display:flex; justify-content:center;">
                <div>
                    <form method="post" action="{% url 'base:loginRequest' %}">
                        {% csrf_token %}
                        {{form}}
                        <div style="display:flex; justify-content:center;">
                            <input type="submit" value="Log in" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}